ul.nav {
  justify-content: center;
  border-bottom: unset;
}
.nav-tabs .nav-link {
  border: 0;
  color: #000;
}
.nav-tabs .nav-link.active {
  border-bottom: 1px solid #000;
}
.lofinform {
  max-width: 400px;
  margin: 30px auto;
}
.lofinform button {
  margin: auto;
  display: block;
  padding: 5px 30px;
}
